@page "/configurations"
@inject Data.ApiService apiService
@using GymLogger.Shared.Models

<h3>Configurations</h3>

@if (workouts == null || configurations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@configurationModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="incrementautomatically">Increment Weight Automatically</label>
        <InputCheckbox id="incrementautomatically" @bind-Value="configurationModel.IncrementAutomatically" />

        <label for="deloadautomatically">Deload Weight Automatically</label>
        <InputCheckbox id="deloadautomatically" @bind-Value="configurationModel.DeloadAutomatically" />

        <label for="incrementwholeworkout">Increment Whole Workout?</label>
        <InputCheckbox id="incrementwholeworkout" @bind-Value="configurationModel.IncrementWholeWorkout" />

        <label for="deloadwholeworkout">Deload Whole Workout?</label>
        <InputCheckbox id="deloadwholeworkout" @bind-Value="configurationModel.DeloadWholeWorkout" />

        <label for="incrementbypercentage">Increment Weight by Percentage?</label>
        <InputCheckbox id="incrementbypercentage" @bind-Value="configurationModel.IncrementByPercentage" />

        <label for="deloadbypercentage">Deload Weight by Percentage?</label>
        <InputCheckbox id="deloadbypercentage" @bind-Value="configurationModel.DeloadByPercentage" />

        <label for="deloadratio">Weight Deload Ratio</label>
        <InputNumber id="deloadratio" @bind-Value="configurationModel.DeloadRatio" />

        <label for="incrementratio">Weight Increment Ratio</label>
        <InputNumber id="incrementratio" @bind-Value="configurationModel.IncrementRatio" />

        <label for="workoutid">Workout ID</label>
        <InputSelect id="workoutid" @bind-Value="configurationModel.WorkoutId" >
            @foreach (var workout in workouts)
            {
                <option value="@workout.Id">@workout.Name</option>
            }
        </InputSelect>


        <button type="submit">Submit</button>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>IncrementAutomatically</th>
                <th>DeloadAutomatically</th>
                <th>IncrementWholeWorkout</th>
                <th>DeloadWholeWorkout</th>
                <th>IncrementByPercentage</th>
                <th>DeloadByPercentage</th>
                <th>DeloadRatio</th>
                <th>IncrementRatio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var configuration in configurations)
            {
                <tr>
                    <td>@configuration.Id</td>
                    <td>@configuration.IncrementAutomatically</td>
                    <td>@configuration.DeloadAutomatically </td>
                    <td>@configuration.IncrementWholeWorkout </td>
                    <td>@configuration.DeloadWholeWorkout </td>
                    <td>@configuration.IncrementByPercentage </td>
                    <td>@configuration.DeloadByPercentage </td>
                    <td>@configuration.DeloadRatio </td>
                    <td>@configuration.IncrementRatio  </td>
                    <td>@configuration.WorkoutId  </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Configuration configurationModel = new();
    List<Configuration>? configurations;
    List<Workout>? workouts;

    protected override async Task OnInitializedAsync()
    {
        configurations = await apiService.GetConfigurationsAsync();
        workouts = await apiService.GetWorkoutsAsync();
    }

    private async void HandleValidSubmit()
    {
        await apiService.CreateConfigurationAsync(configurationModel);
    }
}