@page "/equipments"
@inject Data.ApiService apiService
@using GymLogger.Shared.Models

<h3>Equipments</h3>

@if (equipments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@equipmentModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="name">Name</label>
        <InputText id="name" @bind-Value="equipmentModel.Name" />

        <label for="barbellmin">Barbell Minimum</label>
        <InputNumber id="barbellmin" @bind-Value="equipmentModel.BarbellMin" />

        <label for="barbellmax">Barbell Maximum</label>
        <InputNumber id="barbellmax" @bind-Value="equipmentModel.BarbellMax" />

        <label for="barbellincrements">Barbell Increments</label>
        <InputNumber id="barbellincrements" @bind-Value="equipmentModel.BarbellIncrements" />

        <label for="dumbbellmin">Dumbbell Minimum</label>
        <InputNumber id="dumbbellmin" @bind-Value="equipmentModel.DumbbellMin" />

        <label for="dumbbellmax">Dumbbell Maximum</label>
        <InputNumber id="dumbbellmax" @bind-Value="equipmentModel.DumbbellMax" />

        <label for="dumbbellincrements">Dumbbell Increments</label>
        <InputNumber id="dumbbellincrements" @bind-Value="equipmentModel.DumbbellIncrements" />


        <button type="submit">Submit</button>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Barbell Minimum</th>
                <th>Barbell Maximum</th>
                <th>Barbell Increments</th>
                <th>Dumbbell Minimum</th>
                <th>Dumbbell Maximum</th>
                <th>Dumbbell Increments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in equipments)
            {
                <tr>
                    <td>@equipment.Id</td>
                    <td>@equipment.Name</td>
                    <td>@equipment.BarbellMin</td>
                    <td>@equipment.BarbellMax</td>
                    <td>@equipment.BarbellIncrements</td>
                    <td>@equipment.DumbbellMin</td>
                    <td>@equipment.DumbbellMax</td>
                    <td>@equipment.DumbbellIncrements</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Equipment equipmentModel = new();
    List<Equipment>? equipments = new();

    protected override async Task OnInitializedAsync()
    {
        equipments = await apiService.GetEquipmentsAsync();
    }

    private async void HandleValidSubmit()
    {
        await apiService.CreateEquipmentAsync(equipmentModel);
    }
}